# ~/.config/sentienthome/sentienthome.conf

; SentientHome monitors changes to this file and reloads during downtime

[sentienthome]
; loglevel possible values: INFO, WARNING, ERROR, CRITICAL, DEBUG, DEFAULT; default=DEFAULT
loglevel               = DEFAULT
checkpointing          = OFF
checkpoint_interval    = 600

; number of retries and interval for failed http attempts
retries                 = 5
retry_interval          = 2

; supported target stores. Currently only INFLUXDB and DEVNULL supported
event_store            = INFLUXDB

; enable event engine
event_engine           = ON
event_addr             = 127.0.0.1 ; hostname/ip address of your install
event_port             = 8888 ; if changed update docker file and docker-compose
event_path             = /event

; setup tracer events - used to schedule and detect missing events
tracer_interval        = 10

; data directory to persist caches and memory structures
data_path              = /data

; Supervisor is use to orchestrate the entire setup within a docker container
[supervisord]
supervisord_config     = /etc/supervisor/conf.d/supervisord.conf

[isy]
isy_addr               = isy
isy_port               = 80
isy_user               = youruser
isy_pass               = yourpassword

[influxdb]
influx_addr            = yourinfluxdbhost
influx_port            = 8086
influx_db              = yourinfluxdb
influx_user            = youruser
influx_pass            = yourpassword

[raineagle]
eagle_addr             = youreaglehost
eagle_poll_interval    = 5

[apcups]
apcups_addr            = yourupshost
apcups_poll_interval   = 5

[autelis]
autelis_addr           = yourautelishost
autelis_user           = youruser
autelis_pass           = yourpassword
autelis_poll_interval  = 30

[nest]
nest_user              = youruser
nest_pass              = yourpassword
nest_poll_interval     = 300

[netatmo]
netatmo_client_id      = yourclientid
netatmo_client_secret  = yourclientsecret
netatmo_user           = youruser
netatmo_pass           = yourpassword
netatmo_unique         = 1
netatmo_poll_interval  = 60

[finance]
finance_provider_addr  = www.google.com
finance_provider_port  = 80
finance_provider_path  = /finance/info?q=
finance_poll_interval  = 30
finance_index_list     = INDEXDJX:.DJI,INDEXSP:.INX,INDEXNASDAQ:.IXIC,SHA:000001,INDEXNIKKEI:NI225,INDEXHANGSENG:HSI,TPE:TAIEX,INDEXFTSE:UKX,INDEXSTOXX:SX5E,INDEXEURO:PX1,INDEXTSI:OSPT,INDEXASX:XJO,INDEXBOM:SENSEX,TLV:T25,INDEXKRX:KOSPI,INDEXSWX:SMI,INDEXVIE:ATX
finance_currency_list  = CURRENCY:EURUSD,CURRENCY:USDJPY,CURRENCY:GBPUSD,CURRENCY:USDCAD,CURRENCY:USDHKD,CURRENCY:USDCNY,CURRENCY:AUDUSD
finance_stock_list     = AAPL,ORCL,MSFT,IBM,TDC,EBAY,AMZN,SHLD,CSCO,HPQ,EMC,VMW,MSTR,SPLK

[sma_webbox]
sma_webbox_addr          = yoursmawebboxhost
;sma_webbox_pass         = yourpassword
sma_webbox_poll_interval = 5

[ubnt_mfi]
ubnt_mfi_addr           = yourmfihost
ubnt_mfi_user           = youruser
ubnt_mfi_pass           = yourpassword
ubnt_mfi_verify_ssl     = 0 ; 1 to verify the https certificate, 0 to ignore
ubnt_mfi_poll_interval  = 5 ; amount of seconds between polls - duplicates are auto removed

[usgs_quake]
usgs_quake_addr         = earthquake.usgs.gov
; init path is for first poll at startup
usgs_quake_init_path    = /earthquakes/feed/v1.0/summary/all_day.geojson
usgs_quake_path         = /earthquakes/feed/v1.0/summary/all_hour.geojson
usgs_quake_poll_interval = 10

[zillow]
zillow_addr            = www.zillow.com
zillow_port            = 80
zillow_path            = /webservice/GetZestimate.htm
zillow_zws_id          = yourzillowapiid
zillow_zpid            = yourzillowpropertyid
zillow_poll_interval   = 3600
